## Import pandas library

In [1]:
import pandas as pd
import numpy as np

# The series Data Structure

In [2]:
pd.Series?

In [4]:
animals=['Tiger','Dog','Mouse']
se=pd.Series(animals)

In [5]:
se

0    Tiger
1      Dog
2    Mouse
dtype: object

In [6]:
numbers=[1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [18]:
animals = ['Tiger', 'Bear', None]
a=pd.Series(animals)

In [19]:
a.index

RangeIndex(start=0, stop=3, step=1)

In [8]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [9]:
np.nan==None

False

In [10]:
np.nan==np.nan

False

In [11]:
np.isnan(np.nan)

True

In [13]:
sports={'Archery':'Bhutan',
       'Golf':'Scotland',
       'Sumo':'Japan',
       'Taekwondo':'South Korea'}

In [14]:
sports

{'Archery': 'Bhutan',
 'Golf': 'Scotland',
 'Sumo': 'Japan',
 'Taekwondo': 'South Korea'}

In [15]:
s=pd.Series(sports)

In [16]:
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [17]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [24]:
s=pd.Series(['Tiger','Bear','Rat'],index=['India','America','Canada'])

In [23]:
s

india      Tiger
America     Bear
Canada       Rat
dtype: object

In [25]:
s=pd.Series(sports)

In [26]:
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [27]:
s.iloc[3]

'South Korea'

In [28]:
s[3]

'South Korea'

In [29]:
s.loc['Golf']

'Scotland'

In [30]:
s['Golf']

'Scotland'

In [31]:
sports={99:'Bhutan',
       100:'Scotland',
       101:'Japan',
       102:'South Korea'}

In [34]:
s=pd.Series(sports)

In [35]:
s

99          Bhutan
100       Scotland
101          Japan
102    South Korea
dtype: object

In [37]:
s.iloc[0]

'Bhutan'